<ion-view view-title="RapDoc">
  <ion-content>
    <div align="center">

      <h2>Bem-vindo ao RapDoc!</h2>

      <table class="tbl-home">
        <tr>
          <td>
            <button type="button" class="btn btn-danger btn-circle btn-xl" ng-click="novoProntoSocorro()">
              <i class="glyphicon glyphicon-heart-empty"></i>
            </button>

            <br/>
            <br/>

            <span>Pronto-Socorro</span>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="glyphicon glyphicon-pencil"></i></button>
            <br/>
            <br/>
            <span>Marcações</span>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="glyphicon glyphicon-list"></i></button>
            <br/>
            <br/>
            <span>Receitas</span>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="glyphicon glyphicon-question-sign"></i></button>
            <br/>
            <br/>
            <span>Quiz</span>
          </td>
        </tr>
      </table>
      <!--
      <button class="button button-block button-assertive" ng-click="teste()">Pronto-Socorro</button>
      <a href="#/app/setup" class="button button-block button-assertive">opa</a>
      <br />
      <button class="button button-block button-assertive">Marcações</button>
      <br />
      <button class="button button-block button-assertive">Receitas</button>
      <br />
      <button class="button button-block button-assertive">Quiz</button>
      -->
    </div>
  </ion-content>
</ion-view>
