<ion-view view-title="RapDoc">
  <ion-content>
    <!--ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list-->
    <div align="center">
      <button class="button button-block button-assertive" ng-click="teste()">Pronto-Socorro</button>
      <a href="#/app/setup" class="button button-block button-assertive">opa</a>
      <br />
      <button class="button button-block button-assertive">Marcações</button>
      <br />
      <button class="button button-block button-assertive">Receitas</button>
      <br />
      <button class="button button-block button-assertive">Quiz</button>
    </div>
  </ion-content>
</ion-view>
